@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color:rgb(0, 6, 60);
    color: white;

}





section {
    width: 90%;
    min-height: 700px;
    height: fit-content;
    padding-left: 15%;
}


.sectionOneMainScreen {
  text-shadow: 0px 2px 30px rgba(255, 255, 255, 1);
  color: white;
  background: linear-gradient(180deg, rgb(0, 3, 31) 50%, rgb(0, 5, 47) 75%, rgb(0, 6, 60) 100%);
  position: relative;
  margin-bottom: 0;
}

.sectionSecondMainScreen {
  position: relative;
  background-color:rgb(0, 6, 60);
}

section#tekst1 {
  background-color:rgb(0, 6, 60);
}

section#tekst2 {
  background-color:rgb(0, 6, 60);
}

section#tekst3 {
  background-color:rgb(0, 6, 60);
}

.subSection {
  min-height: fit-content;
  height: 750px;
  margin-bottom: 100px;
  padding: 0;
}





@keyframes fadeInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInFromRight {
    from {
      opacity: 0;
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
      showLine: scaleX(1);
    }
  }
  

.fade h1 {
    opacity: 0;
    animation: fadeInFromLeft 1s ease-in-out 1s forwards;
}

.fade h2 {
    opacity: 0;
    animation: fadeInFromRight 1s ease-in-out 1s forwards;
}



.Line {
  position: relative;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.Line::after {
  content: '';
  display: block;

  top: 80px;
  left: -70px;

  height: 640px;
  width: 4px; 
  border-radius: 3px;

  box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
  background-color: rgb(255, 255, 255);

  transform-origin: top center;
  transform: scaleY(0);
  position: absolute;

}

.LineANIME::after {
  transform: scaleY(1);
  transition: 4s ease-out;
  position: absolute;
}




#line1 {
  top: 50px;
  transition: 6s ease-out;
  transform: scaleY(0.90);
  .lineImage {
    transform: scaleY(1.1);
  }
}

#line2 {
  top: 50px;
  transition: 6s ease-out;
  transform: scaleY(1.025);
  .lineImage {
    transform: scaleY(1);
  }
}

#line3 {
  top: 50px;
  transition: 6s ease-out;
}

#line3-1 {
  top: -120px;
  transition: 6s ease-out;
  transform: scaleY(1.275);
  .lineImage {
    transform: scaleY(0.825);
  }
}

#line3-2 {
  top: 30px;
  transition: 6s ease-out;
  transform: scaleY(1.2);
  .lineImage {
    transform: scaleY(0.8);
  }
}

#line4 {
  top: 40px;
  transition: 6s ease-out;
  transform: scaleY(1.65);
  .lineImage {
    transform: scaleY(0.65);
  }
}

#line5 {
  top: 50px;
  transition: 6s ease-out;
}



.lineImage {
  height: 40px;
  width: 40px;

  border-radius: 5px;
  border: 4px solid #ffffff;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 1);

  top: -10px;
  left: -90px;
  position: absolute;

  opacity: 0;
  transition: opacity 1s;

  transform: scaleY(1);
}

.lineImage-fade-in {
  opacity: 1;
  transition: opacity 1.5s;
}




 

.Text {
    width: 80%;
    top: 100px;
    position: relative;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

h1 {
    font-size: 5rem;
}

/* ---------------------------------- */

h2 {
    font-size: 3rem;
}

.glow {
  text-shadow: 0px 2px 30px rgba(255, 255, 255, 0);
  transition: 2s ease;

}

.h2glow {
    text-shadow: 0px 2px 30px rgba(255, 255, 255, 1);
    transition: 2s ease;
}

/* ---------------------------------- */

p {
    font-size: 18px;
}

.tekstWidth {
  width: 40%;
}

.FloatRight {
  width: 45%;
  float: right;
  
}


.scroll-container {
    margin-top: 60px;
}

.scroll-text {
  opacity: 0;
  transition: opacity 0.5s, transform 1.5s;
}

.fade-in {
  opacity: 1;
  transform: translateY(-80px);
  transition: opacity 0.5s, transform 1.5s;
}






.navbar {
    background-color: rgba(255, 255, 255, 0.15);
    z-index: 10;

    color: #ffffff;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);

    padding: 10px 20px;
    width: 100%;
    height: 75px;

    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 4px 8px rgba(252, 250, 250, 0.258); /* Voeg een subtiele schaduw toe */
}

.navbarLeft {
    margin-left: 9%;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 10px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 11%;
    justify-content: space-between;
}

.nav-item {
    margin-right: 20px;
    height: 85px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-item a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 16px;
}

.nav-item a::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 1);
    border-radius: 3px;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.nav-item a:hover::after {
    transform: scaleX(1);
}

.nav-item a:focus::after {
    transform: scaleX(1);
}

.nav-item-subtext {
    font-size: 12px;
    color: #9a9a9a;
    display: block;
}

.nav-item:hover {
    background: rgba(255, 255, 255, 0.090);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}









/* sectie 3d */

/* dit ga ik met p5.js doen */

  


/* tekst 2, foto's */

.img3Container {
  height: 450px;
  width: fit-content;
  z-index: 9;

  margin-top: 120px;
  margin-left: 10px;
  margin-bottom: 10px;

  float: right; /* Plaats de container rechts van de tekst */
  margin-right: 10%;

  position: relative;
}

.img3Container img {
  height: 420px;
  width: 250px;

  object-fit: cover;
  border-radius: 10px;
  
  cursor: pointer;
  transition: 0.8s ease;
  box-shadow:  20px 20px 60px #ffffffc3;
  margin: 5px 15px;
}

.img3Container > img:not(:hover) {
  scale: 0.9;
  opacity: 0.50; /* Verlaag de opaciteit van alle afbeeldingen behalve de eerste */
  width: 140px; /* Verklein de breedte van alle afbeeldingen behalve de eerste */
}





.P3tekst2 {
  margin-top: -150px;
}

.DeKaartjes {
  height: fit-content;
}

.Kaartje {
  top: 30px;
  position: relative;

  height: 100px;
  width: 40%;
  padding: 15px;

  border-radius: 10px;
  cursor: pointer;
  
  background: #fff3f3d8;
  box-shadow:  20px 20px 30px #ffffff51;
  transition: 1.5s ease;
}

.pfpKaartje {
  height: 90px;
  width: 60%;

  padding: 5px;
  padding-top: 10px;

  border-radius: 10px;
  box-shadow: inset 3px 3px 6px #666666,
            inset -3px -3px 6px #ffffff1e;

  justify-content: center;
  text-align: center;

  margin-bottom: 20px;
}

.pfpKaartje img {
  height: 100%;
  width: 100%;
  scale: 95%;
  object-fit:contain;
  border-radius: 36px;
}

#Kaartje2 {
  margin-top: 100px;
}

.inhoudKaartje {
  transition: 0.3s ease;
  /* color: #00000000; */
  opacity: 0;
}

.inhoudKaartje a {
  transition: 0.3s ease;
  text-decoration: none;
  opacity: 0;
}

#Kaartje1:hover {
  height: 300px;
}

#Kaartje2:hover {
  height: 450px;
}

.Kaartje:hover .inhoudKaartje {
  transition-delay: 1s;
  color: black;
  opacity: 1;
}

.Kaartje:hover .inhoudKaartje a{
  transition-delay: 1s;
  font-weight: bold;
  color: #0943ff;
  opacity: 1;
}


.P3tekst3 {
  margin-top: 0px;
}

#img3Container2 {
  margin-top: 200px;
}






/* web en AI */



.BCFI-container {
  margin-top: 100px;
  height: 500px;
  padding: 10px;

  background: #6A706E;

  /* From https://css.glass */
  background: rgba(106, 112, 110, 0.7);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(106, 112, 110, 0.3);

  overflow: hidden;
  position: relative;
}

.KnoppenContainer {
  height: 80px;

  justify-content: space-between;

  padding: 10px;

  border-radius: 5px 5px 0px 0px;

  /* background: #6A706E; */

  text-align: center;
  display: flex;
  position: relative;
}

button {
  height: 80px;
  min-width: calc(80%/4);
  width: fit-content;

  background: #c0c9c4;
  padding: 5px;

  border-radius: 5px;
  border: none;
  box-shadow:  3px 3px 8px #66666693,
             -3px -3px 8px #00000024;

  text-align: center;
  justify-content: center;
  margin: 0;

  transition: 0.4s ease;
  cursor: pointer;

  z-index: 7;

}

button p {
  float: right;
  margin-right: 15%;
}

.buttonpfp {
  height: 80%;
  width: calc(100%/3);

  border-radius: 10px;

  margin: 0;
  padding: 5px;
}

.buttonpfp img {
  height: 100%;
  width: 100%;

  object-fit:contain;
  mix-blend-mode:multiply;
  border-radius: 10px;
}

.KnoppenContainer:hover > button:not(:hover) {
  opacity: 0.5;
}



.mouseEffect::after {
  content: "";
  position: absolute;

  width: 500px;
  height: 500px;

  border-radius: 50%;
  
  top: calc(var(--y, 0) * 1px - 150px);
  left: calc(var(--x, 0) * 1px - 250px);
  
  /* background: radial-gradient(#4cc185c3, #4cc1854f 35%, #4cc18400 60%); */
  background: radial-gradient(rgba(82, 226, 137, 0.4), rgba(82, 226, 137, 0.2) 35%, rgba(82, 226, 137, 0) 60%);

  opacity: 0;
  transition: opacity 0.7s;

  z-index: 1;
}

.mouseEffect:hover::after {
  opacity: 0.3;
}








/* Style the scrollbar for WebKit-based browsers */
::-webkit-scrollbar {
  display: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(86, 86, 86);
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb:active {
  z-index: 0;
}
